.container {
  margin-top: 50px;
}
.heading {
  font-size: 3em;
}
.form {
  margin: auto;
  width: 80%;
}
.recipe {
  margin-top: 20px;
}
body{background-color: black;}

.li {
  display: flex;
  align-items: center;
  border: 1px solid black; /* Modifica del colore del bordo a "black" */
  border-radius: 5px;
  height: 40px;
  width: auto;
  box-shadow: 2px 2px 4px black;
}
.button {
  display: flex;
  align-items: center;
  border: 1px solid black; /* Modifica del colore del bordo a "black" */
  border-radius: 5px;
  border-color: black;
  height: 40px;
  width: auto;
  box-shadow: 2px 2px 4px black;
}
